= javascript_include_tag SHUTTERBUG_JS
.snapshot-form
  = form_for([@album, @snapshot], html: { id: "snapshot_form_#{@snapshot.id}"}) do |f|
    - if @snapshot.errors.any?
      #error_explanation
        %h2
          = pluralize(@snapshot.errors.count, "error")
          prohibited this snapshot from being saved:
        %ul
          - @snapshot.errors.full_messages.each do |msg|
            %li= msg
    - if @snapshot.persisted?
      .persisted_image{:id => "persisted_image_#{@snapshot.id}"}
      = f.hidden_field :annotation, id: "snapshot_annotation_#{@snapshot.id}"
      = f.hidden_field :annotated_snapshot_url, id: "annotated_snapshot_url_#{@snapshot.id}"
      :javascript
        $(document).ready(function() {
          var firstSubmit = true;
          var originalData = "";
          var drawingTool = new DrawingTool("#persisted_image_#{@snapshot.id}", {width: 500, height: 560});
          var drawToolStateHasChanged = function() {
            return originalData != drawingTool.canvas.toDataURL();
          };
          $('#snapshot_form_#{@snapshot.id}').submit(function() {
            if (firstSubmit && drawToolStateHasChanged()) {
              var state = JSON.stringify(drawingTool.save());
              $('#snapshot_annotation_#{@snapshot.id}').val(state);
              $(function() {
                var optCallbackFn = function(msg) {
                  var reg = /img src='([^']*)'/;
                  var match = reg.exec(msg);
                  if (match[1] != null) {
                    var snap_location = match[1];
                    if (snap_location.indexOf('://') == -1) {
                      snap_location = window.location.protocol + "//" + window.location.host + snap_location;
                    }
                    $("#annotated_snapshot_url_#{@snapshot.id}").val(snap_location);
                  }

                  firstSubmit = false;
                  $('#snapshot_form_#{@snapshot.id}').submit();
                };

                $('#snapshot_submit_#{@snapshot.id}').attr('disabled', 'disabled');
                $('#snapshot_submit_#{@snapshot.id}').val('Please wait...');

                drawingTool.clearSelection();

                var shutterbug = new Shutterbug("#persisted_image_#{@snapshot.id} .canvas-container", null, optCallbackFn, "persisted_image_#{@snapshot.id}");

                if (shutterbug.useIframeSizeHack) {
                  shutterbug.useIframeSizeHack(true);
                }
                shutterbug.getDomSnapshot();
              });
              return false;
            } else {
              return true;
            }
          });
          var prev_state = $('#snapshot_annotation_#{@snapshot.id}').val();
          if (prev_state) {
            drawingTool.load(JSON.parse(prev_state), function() { originalData = drawingTool.canvas.toDataURL(); });
          } else {
            drawingTool.setBackgroundImage("#{@snapshot.content.url(:medium)}");
            originalData = drawingTool.canvas.toDataURL();
          }
        });
    - unless @snapshot.content.present?
      %div
        %span#file-upload-button.fileinput-button
          %span Browse...
          / The file input field used as target for the file upload widget/
          %input#fileupload{:name => "snapshot[content]", :type => "file"}
      #progress
        .bar
      :javascript
        $(function () {
          var url = "#{@snapshot.persisted? ? album_snapshot_path(@album,@snapshot) : album_snapshots_path(@album)}";
          $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            add: function (e, data) {
              $('.fileinput-button').hide();
              $('.actions input').prop('disabled', true);
              $('#comments-wrapper .textarea').prop('disabled', true);
              data.submit();
            },
            done: function (e, data) {
              window.location = data.result.edit_path;
            },
            progressall: function (e, data) {
              var progress = parseInt(data.loaded / data.total * 100, 10);
              $('#progress .bar').css(
                'width',
                progress + '%'
              );
            },
            fileuploadfail: function(e, data) {
              console.log("Failed!", e, data);
              $('.actions input').prop('disabled', false);
              $('#comments-wrapper .textarea').prop('disabled', false);
            }
          });
        });
    %div
      %div
        Comments:
      #comments-wrapper
        = f.text_area :comment
    .actions
      = f.submit "Save", id: "snapshot_submit_#{@snapshot.id}"
