<div class="snapshot-form">
  <%= form_for([@album, @snapshot]) do |f| %>
    <% if @snapshot.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@snapshot.errors.count, "error") %> prohibited this snapshot from being saved:</h2>

        <ul>
        <% @snapshot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if @snapshot.persisted? %>
      <div>
        <%= snapshot_image_tag(@snapshot, :medium) %>
      </div>
    <% end %>
    <% unless @snapshot.content.present? %>
      <div>
        <span id="file-upload-button" class="fileinput-button">
          <span>Select an image...</span>
          <!-- The file input field used as target for the file upload widget -->
          <input id="fileupload" type="file" name="snapshot[content]">
        </span>
      </div>
      <div id="progress">
        <div class="bar"></div>
      </div>
      <script>
        $(function () {
          var url = "<%= @snapshot.persisted? ? album_snapshot_path(@album,@snapshot) : album_snapshots_path(@album) %>";
          $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            add: function (e, data) {
              $('.fileinput-button').hide();
              $('.actions input').prop('disabled', true);
              $('#comments-wrapper .textarea').prop('disabled', true);
              data.submit();
            },
            done: function (e, data) {
              window.location = data.result.edit_path;
            },
            progressall: function (e, data) {
              var progress = parseInt(data.loaded / data.total * 100, 10);
              $('#progress .bar').css(
                'width',
                progress + '%'
              );
            },
            fileuploadfail: function(e, data) {
              console.log("Failed!", e, data);
              $('.actions input').prop('disabled', false);
              $('#comments-wrapper .textarea').prop('disabled', false);
            }
          });
        });
      </script>
    <% end %>

    <div>
      <div>
        Comments:
      </div>
      <div id="comments-wrapper">
        <%= f.text_area :comment %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>
